apisix:
  node_listen:
    - port: 9080
      enable_http2: false
  enable_admin: true
  admin_key:
    - name: "admin"
      key: edd1c9f034335f136f87ad84b625c8f1
      role: admin

deployment:
  role: data_plane
  role_data_plane:
    config_provider: yaml

nginx_config:
  error_log: "stderr"
  error_log_level: "warn"
  access_log: "logs/access.log"
  
plugin_attr:
  prometheus:
    export_addr:
      ip: "0.0.0.0"
      port: 9091