apisix:
  node_listen:
    - 9080
  enable_admin: true
  admin_key:
    - name: "admin"
      key: YOUR_ADMIN_KEY_HERE
      role: admin

deployment:
  role: data_plane
  role_data_plane:
    config_provider: yaml

nginx_config:
  error_log: "/usr/local/apisix/logs/error.log"
  error_log_level: "warn"
  
plugin_attr:
  prometheus:
    export_addr:
      ip: "0.0.0.0"
      port: 9091